.gitignore
*.root
FileList*
*.condor
*.stdout
*.stderr
*.submit
*.h5
*txt~
/**/*.ckpt
*.csv
*.yaml
*.json
*.pyc
*gitignore*
*.txt
*.pdf
*.png
*.pd
AnaExe
*.pth
*.swp
.env/*
bootstrap.sh
.bashrc
.condor_config
shell
logo-svg.svg
*.tar.gz
